
<h1>Upload a Game State File</h1>
<%= form_with model: @game_state, local: true, multipart: true do |form| %>
  <div>
    <label for="input_file">Choose file:</label>
    <%= form.file_field :input_file, accept: ".txt", required: true %>
  </div>
  <div>
    <%= form.submit "Upload" %>
  </div>
<% end %>
